<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link href="css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <script src="js/bootstrap.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
</head>
<body>
<div class="container">
    <div class="jumbotron" style="margin: 20px auto;width: 50%;height: 50%;">
        <form class="form-horizontal" th:action="@{~/login}" method="post">
            <div class="form-group">
                <label for="username" class="col-sm-2 control-label">用户名</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" name="username" id="username" placeholder="输入用户名">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-2 control-label">密码</label>
                <div class="col-sm-7">
                    <input type="password" class="form-control" name="password" id="password" placeholder="输入密码">
                </div>
                <div class="col-sm-12" style="padding-left: 95px;padding-top: 5px;" th:if="${loginError}" th:text="${errorMsg}"></div>
            </div>
            <!--<div >1234</div>-->
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-7">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Remember me
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">登录</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>